header {
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap; 
  background-color: #fef7e2;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 25px;
    border-radius: 65px;
}

 .ancorHeader {
  
  text-align: center;
  
  background-color: #ffdf7f;
  color: #732104;
  padding: 15px 12px;
  border-radius: 30px;
  order: 1;
  text-decoration: none;
  width: 35%;
  height: 20px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}



header nav img {
    margin-right: 15px;
  width: 2rem;
}


#growDiv {
    background-color:  #ffdf7f;
    border-radius: 65px;
width: 65%;
  text-align: center;
  margin-top: 30px;
  

  font-weight: bold;
  font-size: 1.5rem;
  order: 0;
  padding: 25px;
}

#ancorShop {
    font-family: "Roboto", sans-serif;
  font-weight: 700;
    display: inline;
    position: relative;
    bottom: 5px;
    text-decoration: none;
    color: #732104
}

/* QUI INIZIA IL MAIN */
h1 {
    font-size: 2em;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  margin: 30px 0px;
  color: #732104;}






body {
  margin: 0px 15px;
}

span {
  display: block;
}




/* SECONDA CARD */
.secondDiv {
    background-color: #fef7e2;
    margin: 0px 5px 0px 5px;
    text-align: center;
    height: 315px;
    border-radius: 20%;
    margin-bottom: 25px;
}


.HoneyCard {
    max-width: 100%;
    border-radius: 20% 20% 0% 0%;
}

.middleDiv {
    margin-top: 13px;
    margin-bottom: 23px;
    display: flex;
    justify-content:space-around
}

h5{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: larger;
    color: #6f220e;
    
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 200;
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: #821504;
}

.Dollaro {
    align-self: center;
    color: #821504;
}

.AddToCard {
    border-radius: 24px;
    background-color: #ffdf7f ;
    padding: 6px 45px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #700900;
}

/* DOPO LE CARD  */

h2 {
    font-size: 1.5rem;
    color: #732104;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    margin: 35px 0px 20px 0px;
}

#lastDiv {
    /*  #fef7e2 */
    border-radius: 25px;
    background-color: #fef7e2;
width: 100%;
}
h4 {
    font-size: 1rem;
    color: #732104;
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 15px;
}

#lastImg {
    max-width: 100%;
}

#lastP {
    margin-bottom: 25px
}

#Lorem {
    text-align: start;
    padding: 20px;
}
}